{% extends 'index.html' %}
{% block title %} Engine Capacity {% endblock %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-12">
        <div class="content-header">
            {% if activity == 'edit' %}
            <h2 class="content-title">Update Engine Capacity</h2>
            {% else %}
            <h2 class="content-title">Add Engine Capacity</h2>
            {% endif %}
            <form method="post" enctype="multipart/form-data" id="productForm">
                {% csrf_token %}
                <div>
                    <button class="btn btn-md rounded font-sm hover-up" type="submit">Publish</button>
                </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="card mb-4">
            <div class="card-header">
                <h4>Basic</h4>
            </div>
            <div class="card-body">
                {% if form.year %}
                    <div class="mb-4">
                        <label for="year" class="form-label">Year <span class="required">*</span></label>
                        {{form.year}}
                    </div>
                {% endif %}

                <div class="mb-4">
                    <label for="engine_capacity" class="form-label">Engine Capacity <span class="required">*</span></label>
                    {{form.engine_capacity}}
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-3">
        
    </div>
    </form>
</div>
</div>
</div>

{% endblock %}