{% extends 'index.html' %}
{% block title %} Brand Details {% endblock %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-12">
        <div class="content-header">
            {% if activity == 'edit' %}
            <h2 class="content-title">Update Brand Details</h2>
            {% else %}
            <h2 class="content-title">Add Brand Details</h2>
            {% endif %}
            <form method="post" enctype="multipart/form-data" id="productForm">
                {% csrf_token %}
                <div>
                    <button class="btn btn-md rounded font-sm hover-up" type="submit">Publish</button>
                </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="card mb-4">
            <div class="card-header">
                <h4>Basic</h4>
            </div>
            <div class="card-body">
                {% if form.brand %}
                    <div class="mb-4">
                        <label for="brand" class="form-label">Brand <span class="required">*</span></label>
                        {{form.brand}}
                    </div>
                {% endif %}

                <div class="mb-4">
                    <label for="title" class="form-label">Title <span class="required">*</span></label>
                    {{form.title}}
                </div>

                <div class="mb-4">
                    <label for="description" class="form-label">Description <span class="required">*</span></label>
                    {{form.description}}
                </div>

                <div class="mb-4">
                    <label for="efficiency_title" class="form-label">Efficiency Title <span class="required">*</span></label>
                    {{form.efficiency_title}}
                </div>

                <div class="mb-4">
                    <label for="efficiency_description" class="form-label">Efficiency Description <span class="required">*</span></label>
                    {{form.efficiency_description}}
                </div>
                
                <div class="mb-4">
                    <label for="why_right_choice_title" class="form-label">Why is it the right choice Title<span class="required">*</span></label>
                    {{form.why_right_choice_title}}
                </div>
                
                <div class="mb-4">
                    <label for="why_right_choice_description" class="form-label">Why is it the right choice Description<span class="required">*</span></label>
                    {{form.why_right_choice_description}}
                </div>

                <div class="mb-4">
                    <label for="what_makes_different" class="form-label">What makes it different?<span class="required">*</span></label>
                    {{form.what_makes_different}}
                </div>

                <div class="mb-4">
                    <label class="form-label">Left Content <span class="required">*</span>
                        <br>
                        <div id="c_error" style="color:red;margin-top:5px;font-weight: 500;">{{form.challenges.errors}}</div>
                    </label>
                    {{form.media}}
                    {{form.left_content}}
                </div>

                <div class="mb-4">
                    <label class="form-label">Right Content <span class="required">*</span>
                        <br>
                        <div id="c_error" style="color:red;margin-top:5px;font-weight: 500;">{{form.challenges.errors}}</div>
                    </label>
                    {{form.right_content}}
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-3">
        <div class="card mb-4">
            <div class="card-header">
                <h4>Hero Media <span class="required">*</span></h4>
            </div>
            <div class="card-body">
                <div class="input-upload">
                    <img src="{% static 'assets/imgs/theme/upload.svg' %}" alt="" />
                    {{form.hero_media}}
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h4>Icon <span class="required">*</span></h4>
            </div>
            <div class="card-body">
                <div class="input-upload">
                    <img src="{% static 'assets/imgs/theme/upload.svg' %}" alt="" />
                    {{form.icon}}
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h4>Efficiency Image <span class="required">*</span></h4>
            </div>
            <div class="card-body">
                <div class="input-upload">
                    <img src="{% static 'assets/imgs/theme/upload.svg' %}" alt="" />
                    {{form.efficiency_image}}
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h4>What Make Different Image <span class="required">*</span></h4>
            </div>
            <div class="card-body">
                <div class="input-upload">
                    <img src="{% static 'assets/imgs/theme/upload.svg' %}" alt="" />
                    {{form.what_makes_different_image}}
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
</div>
</div>

{% endblock %}