{% extends 'index.html' %} {% block title %} Dashboard {% endblock %}
<!-- load static -->
{% load static %} {% block content %}
<div class="content-header">
  <div>
    <h2 class="content-title card-title">Dashboard</h2>
    <p>Whole data about your business here</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <div class="card card-body mb-4">
      <article class="icontext">
        <span class="icon icon-sm rounded-circle bg-warning-light"
          ><i class="text-warning material-icons md-qr_code"></i
        ></span>
        <div class="text">
          <h6 class="mb-1 card-title">Product</h6>
          <span>{{products}}</span>
          <span class="text-sm"> Our Product </span>
        </div>
      </article>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card card-body mb-4">
      <article class="icontext">
        <span class="icon icon-sm rounded-circle bg-warning-light"
          ><i class="text-warning material-icons md-qr_code"></i
        ></span>
        <div class="text">
          <h6 class="mb-1 card-title">Brand</h6>
          <span>{{brands}}</span>
          <span class="text-sm"> Our brand </span>
        </div>
      </article>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card card-body mb-4">
      <article class="icontext">
        <span class="icon icon-sm rounded-circle bg-warning-light"
          ><i class="text-warning material-icons md-qr_code"></i
        ></span>
        <div class="text">
          <h6 class="mb-1 card-title">Brand Details</h6>
          <span>{{brand_details}}</span>
          <span class="text-sm"> Our Brand Details </span>
        </div>
      </article>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card card-body mb-4">
      <article class="icontext">
        <span class="icon icon-sm rounded-circle bg-warning-light"
          ><i class="text-warning material-icons md-qr_code"></i
        ></span>
        <div class="text">
          <h6 class="mb-1 card-title">News And Events</h6>
          <span>{{news_events}}</span>
          <span class="text-sm"> Our News And Events </span>
        </div>
      </article>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card card-body mb-4">
      <article class="icontext">
        <span class="icon icon-sm rounded-circle bg-warning-light"
          ><i class="text-warning material-icons md-qr_code"></i
        ></span>
        <div class="text">
          <h6 class="mb-1 card-title">Business And Solution Slider</h6>
          <span>{{business_solutions}}</span>
          <span class="text-sm"> Our Business And Solution Slider </span>
        </div>
      </article>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card card-body mb-4">
      <article class="icontext">
        <span class="icon icon-sm rounded-circle bg-warning-light"
          ><i class="text-warning material-icons md-qr_code"></i
        ></span>
        <div class="text">
          <h6 class="mb-1 card-title">Experts</h6>
          <span>{{experts}}</span>
          <span class="text-sm"> Our Experts </span>
        </div>
      </article>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card card-body mb-4">
      <article class="icontext">
        <span class="icon icon-sm rounded-circle bg-warning-light"
          ><i class="text-warning material-icons md-qr_code"></i
        ></span>
        <div class="text">
          <h6 class="mb-1 card-title">About Slider</h6>
          <span>{{about_slider}}</span>
          <span class="text-sm"> Our About Slider </span>
        </div>
      </article>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card card-body mb-4">
      <article class="icontext">
        <span class="icon icon-sm rounded-circle bg-warning-light"
          ><i class="text-warning material-icons md-qr_code"></i
        ></span>
        <div class="text">
          <h6 class="mb-1 card-title">Agriculture Lubricants Slider</h6>
          <span>{{agriculture_lubricants_slider}}</span>
          <span class="text-sm"> Our Agriculture Lubricants Slider </span>
        </div>
      </article>
    </div>
  </div>
</div>
{% endblock %}
