{% extends 'index.html' %} {% block title %} Company Details {% endblock %}
<!-- load static-->
{% load static %} {% block content %}

<div class="row">
  <div class="col-lg-12">
    <section class="content-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="content-header">
          <h2 class="content-title">Company Details</h2>
          <div>
            <button class="btn btn-primary" type="submit">Save changes</button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9">
            <div class="card">
              <div class="card-header">
                <h4>Content</h4>
              </div>
              <div class="card-body row">
                <div class="col-6 mb-3">
                  <label class="form-label">Title</label>
                  {{ form.title }}
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label">Lubricant Distributions</label>
                  {{ form.lubricant_distributions }}
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label">Districts Covered</label>
                  {{ form.districts_covered }}
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label">Types Of Products</label>
                  {{ form.types_of_products }}
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label">Annual Production</label>
                  {{ form.annual_production }}
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label">Dealers Of Bangladesh</label>
                  {{ form.dealers_of_bangladesh }}
                </div>
                <div class="col-12 mb-3">
                  <label class="form-label">Description</label>
                  {{ form.description }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card mb-4">
              <div class="card-header">
                <h4>Image <span class="required">*</span></h4>
              </div>
              <div class="card-body">
                <div class="input-upload">
                  <img
                    src="{% static 'assets/imgs/theme/upload.svg' %}"
                    alt=""
                  />
                  {{form.image}}
                </div>
              </div>
            </div>

            <div class="card mb-4">
              <div class="card-header">
                <h4>Video <span class="required">*</span></h4>
              </div>
              <div class="card-body">
                <div class="input-upload">
                  <img
                    src="{% static 'assets/imgs/theme/upload.svg' %}"
                    alt=""
                  />
                  {{form.video}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>
{% endblock %}
